<div style="display: grid; justify-content: center; align-items: center; height: 100vh;" *ngIf="!dataLoaded">
  <div style="height: 100px; width: 100px;">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="stats" *ngIf="dataLoaded">
  <div>
    <button pButton type="button" class="p-button-link" (click)="this.router.navigate(['/']);" label="Back to archive"></button>
  </div>

  <p-panel header="Channel selection">
    <div>
      Channel:
      <p-dropdown [options]="channelData.channels" optionLabel="name" optionValue="name" [(ngModel)]="selectedChannel" (onChange)="loadStats($event.value)">
        <ng-template pTemplate="selectedItem">
          <div><ng-container *ngIf="selectedChannel != 'all'">#</ng-container>{{selectedChannel}}</div>
        </ng-template>
        <ng-template let-channel pTemplate="item">
          <ng-container *ngIf="channel.id != 'all'">#</ng-container>{{channel.name}}
        </ng-template>
      </p-dropdown>
    </div>
  </p-panel>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <p-panel header="Message counts per user">
        <app-stats-table [stats]="stats.userMessageCount" firstColumn="Username"></app-stats-table>
      </p-panel>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <p-panel header="Top days">
        <app-stats-table [stats]="stats.timebasedMessageCounts['topDays'].messageCounts" firstColumn="Day"></app-stats-table>
      </p-panel>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <p-panel header="Messages by year">
        <app-stats-table [stats]="stats.timebasedMessageCounts['messagesPerYear'].messageCounts" firstColumn="Year"></app-stats-table>
      </p-panel>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <p-panel header="Messages by month">
        <app-stats-table [stats]="stats.timebasedMessageCounts['messagesPerMonth'].messageCounts" firstColumn="Month"></app-stats-table>
      </p-panel>
    </div>
  </div>
</div>
