.angular
angular.json
client-config.js
Dockerfile
git-version.js
karma.conf.js
node_modules
package.json
package-lock.json
proxy.conf.json
README.md
src
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
