<div *ngIf="channelData != null">
  <p-tabView (onChange)="handleTabChange($event)">
    <p-tabPanel *ngFor="let channel of channelData.channels" header="#{{channel.name}}" [cache]="false">
      <ng-template pTemplate="content">
         <div style="height: 85vh;">
        <p-table *ngIf="messageData != null" [value]="messageData.messages" styleClass="p-datatable-sm p-datatable-striped"
                 [paginator]="true" [rows]="limit" [totalRecords]="messageData.messageCount" [autoLayout]="true"
                 [lazy]="true" (onLazyLoad)="handleTableChange($event)" [loading]="loading"
                 [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} messages"
                 [rowsPerPageOptions]="[100,500,1000]" sortField="timestamp" [sortOrder]="-1" paginatorPosition="both">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="timestamp">Timestamp <p-sortIcon field="timestamp"></p-sortIcon></th>
                <th>Username</th>
                <th>Message</th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <p-columnFilter type="text" field="username">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="users" (onChange)="filter($event.value)" optionLabel="username" optionValue="id">
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th><p-columnFilter type="text" field="message"></p-columnFilter></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message>
              <tr>
                <td style="white-space: nowrap;">{{message.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="white-space: nowrap;">{{message.username}}</td>
                <td>{{message.message}}</td>
              </tr>
            </ng-template>
          </p-table>
         </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

<!--
<hr />

<div *ngIf="messageData != null">
  <a href="javascript:void(0);" (click)="loadFirstPage();">First</a>&nbsp;
  <a href="javascript:void(0);" (click)="loadPreviousPage();">Previous</a>&nbsp;
  <a href="javascript:void(0);" (click)="loadNextPage();">Next</a>&nbsp;
  <a href="javascript:void(0);" (click)="loadLastPage();">Last</a>&nbsp;
</div>

<hr />

<div *ngIf="messageData != null">
  <table style="width: 100%;">
    <tr *ngFor="let message of messageData.messages">
      <td style="white-space: nowrap;">[{{message.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}]</td>
      <td style="white-space: nowrap;">{{message.username}}</td>
      <td>{{message.message}}</td>
    </tr>
  </table>
</div>
-->
