<div class="archive">
  <p-toast></p-toast>

  <p-dialog [header]="overlayTitle" [(visible)]="showImageOverlay">
    <img [src]="overlayImage" [alt]="overlayTitle" style="max-width: 70vh; max-height: 70vh;" />
  </p-dialog>

  <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

  <div *ngIf="this.channelNotFound && !this.loading">Channel not found.</div>

  <div *ngIf="this.messageNotFound && !this.loading">Message not found.</div>

  <div *ngIf="channelData != null && !this.channelNotFound">
    <p-tabView (onChange)="handleTabChange($event)" [(activeIndex)]="tabIndex">
      <p-tabPanel *ngFor="let channel of channelData.channels" header="#{{channel.name}}" [cache]="false">
        <ng-template pTemplate="content">
          <div style="text-align: center;">
            <button pButton type="button" class="p-button-link" (click)="navigateToStats()" label="Stats"></button>

            <button pButton type="button" class="p-button-link" (click)="navigateToReports()" label="Reports"></button>
          </div>

          <div style="height: 85vh;">
            <p-table #table *ngIf="messageData != null" [value]="messageData.messages" styleClass="p-datatable-sm p-datatable-striped p-datatable-responsive"
                     [paginator]="true" [rows]="limit" [totalRecords]="messageData.messageCount" [autoLayout]="true"
                     [lazy]="true" (onLazyLoad)="handleTableChange($event, false)" [loading]="loading"
                     [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} messages"
                     [rowsPerPageOptions]="[100,500,1000]" sortField="timestamp" [sortOrder]="-1" paginatorPosition="both" [(first)]="first"
                     [(contextMenuSelection)]="selectedMessage" [contextMenu]="cm" dataKey="id"
                     responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="timestamp">
                    Timestamp <p-sortIcon field="timestamp"></p-sortIcon>
                  </th>
                  <th>
                    Username
                    <p-columnFilter type="text" field="username">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="users" (onChange)="filter($event.value)" optionLabel="username" optionValue="id" appendTo="body">
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    Message
                    <p-columnFilter type="text" field="message" placeholder="Regular expression"></p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-message>
                <tr [ngStyle]="{'background-color': (message.id == highlightedMessage) ? 'yellow' : 'transparent'}" [pContextMenuRow]="message">
                  <td style="white-space: nowrap;">
                    <a id="{{message.id}}"></a>
                    <button pButton type="button" class="p-button-link" (click)="selectedMessage = message; cm.show($event); $event.stopPropagation();" label="{{message.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}"></button>
                  </td>
                  <td style="white-space: nowrap;" class="username">
                    <button pButton type="button" class="p-button-link" (click)="table.filter([ getUserId(message.username) ], 'username', 'equals')" label="{{message.username}}"></button>
                  </td>
                  <td>
                    <div [innerHTML]="message.message"></div>
                    <div *ngIf="message.attachments.length > 0">
                      <strong *ngIf="message.attachments.length == 1">Attachment</strong>
                      <strong *ngIf="message.attachments.length > 1">Attachments</strong>
                      <br />
                      <ul>
                        <li *ngFor="let attachment of message.attachments">
                          <button *ngIf="attachment.description" pButton type="button" class="p-button-link" (click)="showOverlay(attachment)" label="{{attachment.description}}"></button>
                          <button *ngIf="!attachment.description" pButton type="button" class="p-button-link" (click)="showOverlay(attachment)" label="{{attachment.title}}"></button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3">No messages found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
