/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.p-datatable .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

.p-datatable-thead th {
  vertical-align: top;

  p-columnfilter {
    display: block;
    padding-top: 1em;
  }
}

.p-datatable td {
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: var(--p-button-link-color);
}

a:hover {
  text-decoration: underline;
}

.p-datatable-tbody {
  td {
    vertical-align: top;

    button {
      padding: 0;
    }
  }

  tr:hover {
    td {
      background-color: #eef;
    }
  }
}

@media screen and (max-width: 60rem) {
  .archive {
    .p-tabview .p-tabview-panels {
      padding: 0 !important;
    }

    .p-datatable-wrapper {
      overflow-x: hidden !important;
    }

    .p-datatable {
      &.p-datatable {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td,
        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;
          padding: 0.3rem 0.5rem !important;

          &.username {
            font-weight: bold;
            margin-top: -2rem;
            margin-left: 18.5ch;
            padding-top: 6px !important;
            width: calc(100% - 18.5ch);
          }

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--p-datatable-body-cell-border-color);
          }

          .p-button-link {
            padding: 0;
          }
        }
      }
    }
  }
}

.stats {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td,{
    padding: 4px;
  }
}

.p-galleria-item { background: black; }

.p-contextmenu .p-menuitem-text { white-space: nowrap; }

.p-button-link { text-align: left; position: static !important; }

p-columnfilterformelement { width: 100%; }

p-columnfilterformelement > input { width: 100%; }

p-columnfilterformelement > p-calendar { width: 100%; }

p-columnfilterformelement > p-multiselect { width: 100%; }

div.flex-auto > p-multiselect { width: 100%; }

div.flex-auto > input { width: 100%; }

div.flex-auto > p-button { width: 100%; }

div.flex-auto > p-button > button { width: 100%; }

// just a dirty hack to make the dropdown for the user selection always appear below the dropdown
#multiselect-user > p-overlay > div.p-overlay { top: 36px !important; }
